[Unit]
Description=Network Configuration service
Requires=dbus.socket
After=dbus.socket

[Service]
Type=forking
SmackProcessLabel=System
ExecStartPre=-/usr/sbin/net-config.service
ExecStart=/usr/sbin/net-config
Restart=always
CapabilityBoundingSet=~CAP_MAC_ADMIN
CapabilityBoundingSet=~CAP_MAC_OVERRIDE

[Install]
WantedBy=multi-user.target
