[Unit]
Description=net config service
Requires=vconf-setup.service
After=syslog.target vconf-setup.service

[Service]
Type=notify
ExecStart=/usr/sbin/net-config --nofork

[Install]
WantedBy=multi-user.target
