[Unit]
Description=net config service
After=syslog.target

[Service]
Type=forking
ExecStart=/usr/sbin/net-config

[Install]
WantedBy=multi-user.target
